* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
.PageLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  /* background: linear-gradient(to bottom right, #ff00cc, #333399); */
}

.container-form {
  width: 480px;
  border-radius: 20px;
  padding: 40px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: white;
}
.container-form input {
  width: 100%;
}
.container-form img {
  width: 70px;
  padding-right: 10px;
  text-align: center;
}

.background-login {
  display: block;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
  background-image: url('../public/background_1.jpg');
  background-size: cover;
  background-position: center;
}

.background-login::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 79, 116, 0.5);
  z-index: 1;
}

@media(width < 481px) {
  .container-form {
    width: 100%;
    padding: 0 20px;
  }
  .background-login {
    display: none;
  }
}






.background {
  position: fixed;
  width: 100%;
  height: 100vh;
  
}
.success-background {
  background: rgba(2, 199, 120, 0.4);
}
.failed-background {
  background: rgba(198, 4, 4, 0.4);
}
.warning-background {
  background: rgba(255, 238, 0, 0.4);
} 



/* Contenedor del formulario de login */
.login-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Título de la página de login */
.login-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Grupo de inputs con su respectiva etiqueta */
.input-group {
  width: 100%;
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

/* Estilo del botón de login */
.login-button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
}

/* Estilo para los links debajo del formulario */
.links {
  text-align: center;
  margin-top: 15px;
}

.links a {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  color: #007BFF;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}